<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
			<div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
      <div class="footer-col">
          {% if site.email %}
            <p class="footer-mail"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          {% endif %}

        <ul class="social-media-list">

          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.dribbble_username %}
          <li>
            {% include icon-dribbble.html username=site.dribbble_username %}
          </li>
          {% endif %}

          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>
