---
layout: default
---

<div class="banner-container">
  <div class="banner-content">
    <span>Welcome!</span>
    <h1 class="title">I'm Charisse</h1>
    <span class="subtitle">Web developer and designer</span>
  </div>
</div>

<div class="wrapper">
  <div class="home">

    <h1 class="page-heading">Posts</h1>

    {{ content }}

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          {{post.excerpt}}

          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>
